.shoppingresult {
  max-width: 416px;
}

.shopping-result-head,
.shopping-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 8px 16px;
}

.shopping-result-head {
  background-color: var(--gray-100);
}

.shopping-items {
  list-style: none;
}

/*even --> pares (intercalar as cores de background)*/
.shopping-item:nth-child(even) {
  background-color: var(--gray-100);
}
